* {
    background-color: black;
    color: white;
    box-sizing: border-box;
    line-height: 1.5;
}

.libraryDisplay > * {
    border: 1px solid white;
    display: inline-block;
}

.libraryDisplay {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px;
    grid-auto-columns: 200px 200px 200px;
    grid-auto-rows: 200px;
    gap: 20px 10px;
}

form, input {
    border: 1px solid white;
    padding: 12px;
    display: block;
}

input {
    margin: 10px;
    padding: 3px 5px;
    border-radius: 4px;
}