.libraryDisplay > * {
    border: 1px solid white;
    display: inline-block;
}

.libraryDisplay {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px;
    grid-auto-columns: 200px 200px;
    grid-auto-rows: 200px;
    gap: 20px 10px;
}

* {
    background-color: black;
    color: white;
}